section {
    flex-basis: 99%;
    box-sizing: border-box;
    margin: 20px 5px;
    padding: 10px 10px;
    border-color: #373867;
    border-width: 10px;
}

#login {
    display: flex;
    flex-direction: column;
}

#login h2 {
    justify-self: center;
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}

#login p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

main {
    flex-grow: 1;
    align-items: stretch;
}

#login-button {
    justify-content: center;
}

#show-pass-check {
    display: flex;
    padding: 10px;
}

#show-pass-check input {
    width: 10%;
}

form * {
    margin: 3px 0;
}
