main h2 {
    float: left;
    width: 90%;
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}

main h3 {
    margin: 5px 0px;
    font-size: 24px;
    font-weight: 600;
}

main h4 {
    margin: 5px 0px;
    font-size: 18px;
    font-weight: 600;
}

section {
    flex-basis: 99%;
    box-sizing: border-box;
    margin: 20px 5px;
    padding: 10px 10px;
    border-color: #373867;
    border-width: 10px;
    border-top: 1px solid;
}

section h3 {
    margin: 20px 0px;
    text-align: center;
    font-size: 24px bold;
}

section img {
    border-radius: 10px;
}

#title-bar{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}

#title-bar img{
    height: 25px;
    width: auto;
    margin: 5px;
}

#mobile-icons{
    display: flex;
    flex-direction: column;
}

.box-text-below {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.box-text-below img {
    max-width: 100%;
    height: auto;
}

.box-text-right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px;
    padding-top: 10px;
    border-color: #373867;
    border-top: 1px solid;
}

.box-text-right img {
    height: 200px;
    max-width: 100%;
    padding-right: 5px;
}

.box-text-left-bigimage {
    display: flex;
    flex-direction: column-reverse;
    margin: 0px 10px;
}

.box-text-left-bigimage img {
    max-width: 100%;
    height: auto;
    margin: 10px 0px;
}

.inline-box-text {
    display: flex;
    width: 95%;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 20px 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

.inline-box-text h4, .inline-box-text p {
    margin: 15px 0;
}

.inline-box-text img {
    max-height: 200px;
}

.box-text-right-bigimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 0px 10px;
}

.box-text-right-bigimage li {
    margin: 20px 15px;
    font-size: 20px;
}

.box-text-right-bigimage img {
    height: 200px;
    width: auto;
    box-sizing: border-box;
    margin: 0px 5px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
}

.big-item-sidetext {
    display: flex;
    flex-basis: 95%;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

.big-item-sidetext img{
    max-width: 100%;
    padding: 10px;
}







@media only screen and (max-width: 480px) {
    #mobile-icons-left-arrow {
        display: none;
    }
}

@media only screen and (min-width: 480px) {
    #mobile-icons-left-arrow {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #mobile-icons-left-arrow {
        display: inline;
    }

    #mobile-icons {
        flex-direction: row;
    }

    #showcase{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box-text-below, .box-text-right{
        width: 45%;
        border-top: 0px solid;
    }

    #features{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .inline-box-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-basis: 45%;
    }

    .features-sidetext{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 20px;
        text-align: left;
    }

    .inline-box-text h4, .inline-box-text p {
        display: flex;
        margin-bottom: 15px;
    }

    .box-text-right-bigimage {
        flex-direction: row;
        justify-content: space-evenly;
        box-sizing: border-box;
        margin: 0px 10px;
    }

    .box-text-right-bigimage img {
        height: 400px;
        padding-right: 20px;
    }

    #big-items{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .big-item-sidetext{
        flex-basis: 45%;
        padding: 20px;
    }

    .big-item-sidetext img{
        height: 100px;
        padding: 10px;
    }

    #list-block{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 15px 0px;
    }

}





















@media only screen and (min-width: 1280px) {

    .contact-item {
        width: 95%;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .contact-item p {
        display: inline;
        padding-left: 2px;
    }

    .box-text-below {
        display: flex;
        float: left;
        width: 60%;
        box-sizing: border-box;
        margin: 0px 10px;
    }

    .box-text-below img {
        max-width: 100%;
        height: auto;
    }

    .box-text-right {
        display: flex;
        width: 35%;
        box-sizing: border-box;
        margin: 10px;
        padding-bottom: 10px;
        border-color: #373867;
        border-bottom: 1px solid;
    }

    .box-text-right h3 {
        height: auto;
    }

    .box-text-right img {
        float: left;
        height: auto;
        max-width: 40%;
        padding-right: 5px;
    }

    .box-text-right button {
        margin-top: 120px;
    }

    .box-text-left-bigimage {
        width: 100%;
        box-sizing: border-box;
        margin: 0px 10px;
    }

    .box-text-left-bigimage p {
        float: left;
        display: inline;
        width: 40%;
    }

    .box-text-left-bigimage img {
        float: right;
        height: auto;
        max-width: 55%;
        box-sizing: border-box;
        margin: 0px 5px;
    }

    .inline-box-text {
        display: flex;
        width: 95%;
        margin: 20px 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        display: inline-block;
    }

    .inline-box-text h4, .inline-box-text p {
        float: right;
        width: 55%;
        margin-bottom: 15px;
    }

    .inline-box-text img {
        float: left;
        height: auto;
        max-width: 40%;
    }

    .box-text-right-bigimage {
        display: flex;
        box-sizing: border-box;
        margin: 0px 10px;
    }

    .box-text-right-bigimage li {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .box-text-right-bigimage img {
        height: auto;
        max-width: 55%;
        box-sizing: border-box;
        margin: 0px 5px;
    }

}